.container {
    display: flex;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
}

.rows {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 70vw;
}

.entrycontainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  overflow-y: auto;
  padding-left: 30px;
  padding-top: 30px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
.entrycontainer::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.entrydate {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  color: #454545;
}

.entry {
  height: auto;
  min-height: 200px;
  width: 33vw;
  padding: 0.2rem 1rem;
  margin: 0.5rem;
  border-radius: 2px;
}

.textarea {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  resize: none;
  border: none;
  background-color: var(--background-rgb); /* Light grey background */
  color: var(--foreground-rgb); /* Dark text color */
  outline: none; /* Remove default outline */
}

.textarea::-webkit-resizer {
  display: none; /* Remove the resize handle in WebKit browsers */
}

.sidebar {
    width: 16.875%; /* 324px / 1920px * 100% */
    min-width: 324px; /* Ensures the sidebar doesn't shrink below 324px */
    border-right: 1px solid #747474; /* Sidebar border */
  }
  
  /* Main content styling */
  .content {
    width: 83.125%; /* 1596px / 1920px * 100% */
    min-width: 1596px; /* Ensures the main content doesn't shrink below 1596px */
  }