
.container {
    display: flex;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
}

.sidebar {
    width: 16.875%; /* 324px / 1920px * 100% */
    min-width: 324px; /* Ensures the sidebar doesn't shrink below 324px */
    border-right: 1px solid #747474; /* Sidebar border */
  }
  
  /* Main content styling */
  .content {
    width: 83.125%; /* 1596px / 1920px * 100% */
    min-width: 1596px; /* Ensures the main content doesn't shrink below 1596px */
  }